@font-face {
    font-family: Mardian;
    src: url('MardianDemo.ttf');
}

.clock {
    height: 800px;
    width: 800px;
    border-radius: 400px;
    background: radial-gradient(ellipse at center, rgba(255,199,189,1) 0%, rgba(231,56,39,1) 100%);
    position: relative;
}

.rotate1 {
    animation-name: spin1;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.8,.24,.23,.86);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.rotate2 {
    animation-name: spin2;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.8,.24,.23,.86);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.rotate3 {
    animation-name: spin3;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.8,.24,.23,.86);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.rotate4 {
    animation-name: spin4;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.8,.24,.23,.86);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.point {
    position: absolute;
    font-size: 72px;
    color: blue;
    font-family: Arial, serif;
    text-align: center;
    border-radius: 45px;
    overflow: hidden;
}

#point-1 {
    left: 385px;
    top: 20px;
}

#point-2 {
    left: 712px;
    top: 350px;
    transform: rotate(90deg);
}

#point-3 {
    left: 385px;
    top: 700px;
    transform: rotate(180deg);
}

#point-4 {
    left: 40px;
    top: 350px;
    transform: rotate(270deg);
}

@keyframes spin1 {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-90deg); }
}

@keyframes spin2 { 
    0% { transform: rotate(-90deg); }
    100% { transform: rotate(-180deg); }
}

@keyframes spin3 {
    0% { transform: rotate(-180deg); }
    100% { transform: rotate(-270deg); }
}

@keyframes spin4 {
    0% { transform: rotate(-270deg); }
    100% { transform: rotate(-360deg); }
}

.clock .imagine {
    font-family: Mardian, SansSerif;
    position: relative;
    left: 400px;
    top: 160px;
    font-size: 45px;
}

.clock .imagine span {
    position: absolute;
    height: 270px;
    display: inline-block;
    transform-origin: bottom center;
}

.clock .imagine #char-1 {
    transform: rotate(-165deg);
}

.clock .imagine #char-2 {
    transform: rotate(-150deg);
}

.clock .imagine #char-4 {
    transform: rotate(-135deg);
}

.clock .imagine #char-5 {
    transform: rotate(-120deg);
}

.clock .imagine #char-6 {
    transform: rotate(-105deg);
}

.clock .imagine #char-7 {
    transform: rotate(-90deg);
}

.clock .imagine #char-8 {
    transform: rotate(-75deg);
}

.clock .imagine #char-9 {
    transform: rotate(-60deg);
}

.clock .imagine #char-10 {
    transform: rotate(-45deg);
}

.clock .imagine #char-11 {
    transform: rotate(-30deg);
}

.clock .imagine #char-12 {
    transform: rotate(-15deg);
}

.clock .imagine #char-13 {
    transform: rotate(0deg);
}

.clock .imagine #char-14 {
    transform: rotate(15deg);
}

.clock .imagine #char-15 {
    transform: rotate(30deg);
}

.clock .imagine #char-16 {
    transform: rotate(45deg);
}

.clock .imagine #char-17 {
    transform: rotate(60deg);
}

.clock .imagine #char-18 {
    transform: rotate(75deg);
}

.clock .imagine #char-19 {
    transform: rotate(90deg);
}

.clock .imagine #char-20 {
    transform: rotate(105deg);
}

.clock .imagine #char-21 {
    transform: rotate(120deg);
}

.clock .imagine #char-22 {
    transform: rotate(135deg);
}

.clock .imagine #char-23 {
    transform: rotate(150deg);
}

.clock .imagine #char-24 {
    transform: rotate(165deg);
}
